.layout-header{
  position: fixed;
  width: 100%;
  background: rgb(0,0,0, 0.4);

  .menubar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

    .logo {
      width: 80px;
    }

    .menu-btn {
      width: 300px ;
      .btn-nav {
        display: inline-block;
        color: #fff;
        text-decoration: none;
        margin: 0 20px;
        font-size: 20px;
    
        &::after {
          content: '';
          display: block;
          width: 0;
          height: 2px;
          background: #fff;
          transition: width .3s;
        }
    
        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}